extends layout

block content
  if (!user)
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top( style="border-radius: 4px;" role="navigation" )
          .container
            .navbar-header
              a.navbar-brand( style="color: #fff;font-size: 20px;padding: initial;" href="#" )
                img( style="height: inherit;" alt="VirtualID" src="#{config.appRootFolder}/images/virtualid-white.png" )
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
    .container
      .jumbotron( style="max-width:800px;margin:auto;padding:0px;" )
          img( style="margin-left: -20px;" alt="VirtualID" src="#{config.appRootFolder}/images/virtualid-black.png" )
          h1( style="visibility: hidden;" ) VirtualID
          p.lead Le réseau social
            b  libre
            |  et
            b  décentralisé
            |  qui respecte votre vie privée !
          ul
            li
              b Pas de revente
              |  de vos informations
            li
              b Pas de traçage
              |  publicitaire
            li Toutes vos
              b  données privées
              |  sont
              b  cryptées
              |  (Informations personnelles, Messages privés, Photos,...)
            li Chacun peut
              b  héberger son compte
              |  (et celui d'autres personnes) chez lui
    form.form-signin(role="form", action="#{config.appRootFolder}/login", method="post")
      h2.form-signin-heading Connectez vous !
      input.form-control(name="username" type="username" placeholder="Nom d'utilisateur" title="Peut contenir des caractères alpha-numériques en minuscule (0 à 9 et a à z), des tirets (-), des underscores (_) ou des points (.)" pattern="[a-z0-9]+[a-z0-9._-]+[a-z0-9]+" required autofocus)
      input.form-control(name="password" type="password" class="form-control" placeholder="Mot de passe" required)

      button.btn.btn-lg.btn-primary.btn-block(name="login" value="login" type="submit") Connexion
      a(href="#{config.appRootFolder}/register" style="display:block;text-align:center;margin-top:10px;margin-bottom:10px;") S'inscrire sans Facebook
      br
      a(href="#{config.appRootFolder}/auth/facebook") Se connecter avec Facebook
