doctype html
html(style="height:100%" ng-app="virtualidApp")
  head
    if(title)
      title= title
    else
      title
        | Virtual iD - Le réseau social libre qui respecte votre vie privée
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    if(config)
      link(rel='stylesheet', href='#{config.appRootFolder}stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='#{config.appRootFolder}stylesheets/home.min.css')
      link(rel="stylesheet" href="#{config.appRootFolder}stylesheets/magicsuggest-min.css")
      link(rel="stylesheet" href="#{config.appRootFolder}stylesheets/ng-embed.css")
      link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
      link(rel="apple-touch-icon", sizes="57x57", href="#{config.appRootFolder}images/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="#{config.appRootFolder}images/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="#{config.appRootFolder}images/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="#{config.appRootFolder}images/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="#{config.appRootFolder}images/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="#{config.appRootFolder}images/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="#{config.appRootFolder}images/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="#{config.appRootFolder}images/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="#{config.appRootFolder}images/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192", href="#{config.appRootFolder}images/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="#{config.appRootFolder}images/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="#{config.appRootFolder}images/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="#{config.appRootFolder}images/favicon-16x16.png")
      meta(name="msapplication-TileImage", content="#{config.appRootFolder}images/ms-icon-144x144.png")
      link(rel="manifest", href="#{config.appRootFolder}images/manifest.json")

  body(style="height:100%")
    block content

  if(config)
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src='#{config.appRootFolder}javascripts/jquery-2.1.4.min.js')
    script(src='#{config.appRootFolder}javascripts/bootstrap.min.js')
    script(src='#{config.appRootFolder}javascripts/magicsuggest-min.js')
    script(src='#{config.appRootFolder}javascripts/openpgp.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js")
    script(src="https://platform.twitter.com/widgets.js")
    script(src='#{config.appRootFolder}javascripts/angular.min.js')
    script(src='#{config.appRootFolder}javascripts/angular-resource.min.js')
    script(src='#{config.appRootFolder}javascripts/angular-sanitize.min.js')
    script(src='#{config.appRootFolder}javascripts/ng-embed.js')
    script(src='#{config.appRootFolder}javascripts/ng-infinite-scroll.min.js')
    script(src='#{config.appRootFolder}javascripts/node-xmpp-client.js')
    script(src='#{config.appRootFolder}javascripts/virtualid.app.js')
      | openpgp.initWorker({ path:'#{config.appRootFolder}javascripts/openpgp.worker.min.js' });
      | openpgp.config.aead_protect = true;
