extends layout

block content
  .navbar-wrapper
    .container
      .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
          .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(style="color: #fff;font-size: 20px;padding: initial;" href="#{config.appRootFolder}/stream")
              img(style="height: inherit;" alt="Virtual iD" src="#{config.appRootFolder}/images/virtualid-white.png")
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-left
              li.active
                a(href="#{config.appRootFolder}/stream")
                  span.glyphicon.glyphicon-flash(aria-hidden="true")
                  |  Mon flux
              li
                a(href="#{config.appRootFolder}/emails")
                  span.glyphicon.glyphicon-inbox(aria-hidden="true")
                  |  Mon courrier
            ul.nav.navbar-nav.navbar-right
              li
                form.navbar-form.navbar-right
                  .input-group
                    span.input-group-addon
                      span.glyphicon.glyphicon-search(aria-hidden="true")
                    div.form-control(id="searchFriendBar" style="width:280px;" type="text" placeholder="Rechercher des amis..." aria-describedby="basic-addon1")
              li(id="notifPanel")
                a.btn(tabindex="0" role="button" data-toggle="popover" style="width: 250px;" data-content="test")
                  span.glyphicon.glyphicon-bell(aria-hidden="true")
                  |  Notifications
              li.dropdown.active(style="margin-right:50px;")
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  img.media-object(src="#{config.appRootFolder}/avatars/#{user.avatar}" alt="no_avatar" style="float:left;width:32px;height:32px;background-color:white;margin-top:-5px;margin-right:5px;")
                  |  #{user.username}
                  b.caret(style="margin-left:3px;")
                ul.dropdown-menu
                  li
                    a(href="#") Voir ma page
                  li
                    a(href="#") Paramètres
                  li.divider
                  li
                    a(href="#{config.appRootFolder}/logout") Déconnexion
    .container(id="chatPanel" style="padding-top: 20px;right: 0px;position: fixed;max-width: 300px;max-height: 95%;background-color: #222;color: #eee;bottom: 0px;border-radius: 5px 5px 0px 0px;")
      div(style="cursor: pointer;text-align:center;margin-bottom: 20px;" data-toggle="collapse" data-parent="#chatPanel" href="#collapseChat" aria-expanded="false" aria-controls="collapseChat")
        span.glyphicon.glyphicon-comment
        |  Messagerie instantanée
      .collapse(id="collapseChat")
        .btn-group(style="margin-bottom:10px;width:100%;")
          | Mon statut : 
          button.btn.btn-success.dropdown-toggle(style="float: none;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            | En ligne 
            span.caret 
          ul.dropdown-menu
            li
              a(href="#") En ligne
            li
              a(href="#") Absent(e)
            li
              a(href="#") Occupé(e)
            li
              a(href="#") Hors ligne
        div(style="height:86%;overflow-y: auto;padding-right: 5px;")
          .panel-group(style="color: initial;" id="accordion" role="tablist" aria-multiselectable="true")
            .panel.panel-default
              .panel-heading(role="tab" id="headingOne")
                .panel-title(style="font-size:14px;")
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                    span.glyphicon.glyphicon-stop(style="color: #ec971f;") 
                    |  Padman
              .panel-collapse.collapse(id="collapseOne" role="tabpanel" aria-labelledby="headingOne")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingTwo")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                    span.glyphicon.glyphicon-stop(style="color: #00b900;") 
                    |  Jean Neymar 
                    span.badge(style="background-color: #e60000;") 4
              .panel-collapse.collapse(id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo")
                .panel-body(style="height: 450px;overflow-y: auto;")
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingThree")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                    span.glyphicon.glyphicon-stop(style="color: #d20600;") 
                    |  Taloula
              .panel-collapse.collapse(id="collapseThree" role="tabpanel" aria-labelledby="headingThree")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                .panel-title(style="font-size:14px;")
                  a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    span.glyphicon.glyphicon-stop 
                    |  Toto
              .panel-collapse.collapse(id="collapseFour" role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

  .container(style="position:relative;top:50px;")
    .container-fluid
      div(style="position:fixed;top:10%;left:0px;width:320px;padding:10px;")
        .panel.panel-info
          .panel-heading
            h3.panel-title Vos abonnements
          .panel-body
              div.form-control(id="subscribeHashTag" type="text" placeholder="Abonnez-vous aux #hashtag" aria-describedby="basic-addon1")
        .panel.panel-info
          .panel-heading
            h3.panel-title Vos amis
          .panel-body(ng-controller="MyFriendsController")
            .row
      div(style="margin-left:20%;width:60%;float:left;" ng-controller="StreamController")
        div(id="send-newpost-form")
          .panel.panel-default(style="box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);border:none;border-radius: 5px;")
            textarea.form-control(id="newpost-content" style="resize:vertical;border-radius: 5px 5px 0 0;" rows="3" placeholder="Inserez votre message, lien, photo, video, etc..." ng-model="newPostContent")
            div(id="postPreview")
            .panel-footer(style="border: 1px solid rgb(221, 221, 221);border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;")
              .btn-group(role="group" aria-label="...")
                button.btn.btn-info(id="button-send-newpost" style="font-weight: bold;font-size: 12px;" ng-click="sendNewPost()") Publier
                  span.glyphicon.glyphicon-send(style="margin-left:3px;")
                .btn-group(role="group")
                  button.btn.btn-default.dropdown-toggle(id="newpost-visibility-btn" type="button" style="font-size: 12px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    span.glyphicon.glyphicon-user(aria-hidden="true")
                    |  Amis
                    span.caret(style="margin-left:3px;")
                  ul.dropdown-menu
                    li
                      a(id="newpost-visibility-public-btn" data-toggle="tooltip" data-delay='{ "show": 500, "hide": 0 }' data-placement="right" data-original-title="Tous les internautes du monde pourront voir cette publication." href="#")
                        span.glyphicon.glyphicon-globe(aria-hidden="true")
                        |  Tout le monde
                    li
                      a(id="newpost-visibility-friend-btn" data-toggle="tooltip" data-delay='{ "show": 500, "hide": 0 }' data-placement="right" data-original-title="Seulement vos amis VirtualID pourront voir cette publication." href="#")
                        span.glyphicon.glyphicon-user(aria-hidden="true")
                        |  Mes amis
        div(ng-include src="'/postList'" infinite-scroll='posts.nextPage()' infinite-scroll-disabled='posts.busy' infinite-scroll-immediate-check='false')
  script(type="text/ng-template" id="/postList")
    .panel.panel-default(ng-repeat="post in posts.items" id="{{post._id}}" style="box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);")
      .panel-body(style="border-radius: 5px;")
        .media
          .media-left(style="text-align:center;")
            a(href="identity/{{post.author}}")
              img.media-object.img-rounded(style="width: 64px; height: 64px;" src="avatars/{{post.authorInfos[0].avatar}}" alt="...")
            a(href="identity/{{post.author}}")
              | {{post.author}}
          .media-body(style="max-width: 580px;")
            ng-embed(id="{{post._id+'-content'}}" embed-data="post.content" embed-template-url="templates/embedTemplate.html" embed-options="embedOptions")
          div(style="float: left;margin: 10px 0 0 75px;") {{post.likes.length}} 
            span.glyphicon.glyphicon-thumbs-up(aria-hidden="true")
            |  - 
            span.p-date(style="font-size: 12px;color:grey;") Publié
              | {{formatDate(post.date)}}
            |  - 
            span(style="font-size: 12px;color:grey;") diffusé pour : 
              span.glyphicon.glyphicon-globe(aria-hidden="true")
              |  Tout le monde
      .panel-footer(style="border-bottom-right-radius:5px;border-bottom-left-radius:5px;")
        a(role="button" data-toggle="collapse" href="#comments-scroll-{{post._id}}" aria-expanded="false" aria-controls="comments-scroll-{{post._id}}") {{printCommentLinkText(post.commentList.length)}} 
        | - 
        a(id="postlike-{{post._id}}" href="javascript:void(0)" ng-click="sendNewPostLike(post._id)") {{printPostLikeLinkText(post._id)}} 
      .collapse(id="comments-scroll-{{post._id}}")
        li(ng-repeat="comment in post.commentList" class="list-group-item")
          .media
            .media-left(style="text-align:center;width: 12%;")
              a(href="identity/{{comment.author}}")
                img.media-object.img-rounded(style="width: 32px; height: 32px; margin: auto;" src="avatars/{{comment.authorInfos[0].avatar}}" alt="...")
              a(href="identity/{{comment.author}}")
                | {{comment.author}}
            .media-body
              | {{comment.content}}
            div(style="margin: 10px 0 0 75px;")
              a(href="javascript:void(0)") J'aime 
              | - 0 
              span.glyphicon.glyphicon-thumbs-up 
              |  - 
              span.p-date(style="font-size: 12px;color:grey;") Publié 
                | {{formatDate(comment.date)}}
        .panel.panel-default(style="border: none; margin-bottom: 0px;")
          textarea.form-control(id="newcomment-content-{{post._id}}" style="resize:vertical;border-radius:0px;border-left: 0px;border-right: 0px;" rows="3" placeholder="Inserez votre commentaire...")
          .panel-footer(style="border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;")
            button.btn.btn-info(style="font-weight: bold;font-size: 12px;" value="{{post._id}}" ng-click="sendNewPostComment(post._id)") Publier 
              span.glyphicon.glyphicon-send
    div(ng-show='posts.busy' style="margin: 5px;text-align: center;")
      img(src="images/loader.svg" alt="loading")
    p(style="text-align:center;" ng-show="posts.items.length == 0")
      | Il n'y a rien à afficher ici pour l'instant...
